body{
    background: wheat;
}
h1{
    background: black;
    color: aqua;
    text-align: center;
    height: 80px;
    padding-top: 35px;
    width: 800px;
}

h3{
    background: black;
    font-size: 40px;
    color: gold;
    text-align: center;
    height: 80px;
    padding-top: 35px;
    border-radius: 30px;
}

#res{
    background: black;
    font-size: 40px;
    color: burlywood;
    text-align: center;
    height: 60px;
    width: 500px;
    margin: auto;
    padding-top: 10px;
    margin-top: 10%;
    border-radius: 10px;
}